.todo-container, .form-container, .edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 50px;
}

.form-container button {
  width: 150px;
}

.todo-container button {
  width: 50px;
}

.edit-container button {
  width: 150px;
}

.save-button {
  width: 150px;
}

.task {
  display: inline-block;
}

.task-completed {
  display: inline-block;
  text-decoration: line-through;
}
 /*
.edit-container {
  width: 200px;
}

.edit-container input {
  display: inline-block;
  width: 140px;
} */